img{
    /*Manipulando a imagem do site*/
    width: 190px; /*tamanho da imagem*/
    float: left; /*Colocar a imagem ao lado dos escritos*/
    border: thin solid;/*Imagem com linha preta em volta*/
    padding: 5px; /*Borda na imagem*/
    margin: 0px 10px 10px 0px; /*Distanciamento da imagem das letras*/
}
head{
    align: center;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
