body {
    text-align: center;
}

.image-container {
    margin-top: 20px;
    image-align: left;
}

.image-container img {
    width: 150px; /* ajuste conforme necessário */
    height: auto;
}

.button-container {
    list-style-type: none;
    padding: 0;
}

.button-container li {
    display: inline;
    margin: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
